{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% block style %}
  <style>
  </style>
{% endblock style %}
{% block body %}
<body class="flex justify-center flex-col items-center h-screen w-full leading-normal tracking-normal">
    <div class="flex justify-center flex-col items-center mt-10 border p-20 w-72 h-64">
        <i class="fa fa-check-circle text-3xl" aria-hidden="true"></i>
        <h2 class="p-4 m-2">Password Changed!</h2>
        <p class="p-4 m-2">You password has been changed successfully.</p>
    </div>
    <div>
        <p>Redirecting<a next-page href="{% url 'mainapp:profile-view' %}"> login </a>page.</p>
    </div>
  </body>
{% endblock body %}
{% block s %}
  <script>
      let redirect_to_login = function () {
        let next_page = document.querySelector('[next-page]');
        window.location.href = next_page.href;
      }
      setInterval(redirect_to_login, 5000);
  </script>
{% endblock s%}