{% extends 'base.html' %}
{%block title %}Welcome | Login to continue{% endblock title%}
{% block css %}
  <style>
    .errorlist{
      display: flex;
      justify-content: center;
      align-items: center;

      color: #D8000C;
			background-color: #FFBABA;
			background-image: url('https://i.imgur.com/GnyDvKN.png');
      border: 1px solid;
			margin: 10px 0px;
			padding: .3em;
			background-repeat: no-repeat;
			background-position: 10px center;
    }
    .errorlist li {
      align-self: center;
      color: #ff0000;
    }
  </style>
{% endblock css %}
{% block body %}
  <body class="h-full w-full flex justify-center items-center font-serif leading-normal tracking-normal">
    <div class="min-h-full flex items-center justify-center border py-12 px-4 sm:px-6 lg:px-8">
      <div class="max-w-md w-full space-y-8">
        <div>
          <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
          <h3 class="mt-6 text-center text-lg font-bold text-gray-900">{{title}}</h3>
          <p class="text-center py-2 w-auto">Enter your email and we'll send you a link to reset your password.</p>
          {% if form.non_field_errors %}
           <p class="text-center"><strong>{{ form.non_field_errors }}</strong></p>  
          {% endif %} 
          </div>
          <form method="POST" action="#" id="login-form" class="mt-8 space-y-6">
            {% csrf_token %}
            <input type="hidden" name="remember" value="true">   
            <div class="rounded-md shadow-sm -space-y-px">
              <div>
                  <label for="{{ form.email_id_for_label }}" class="sr-only">Email address</label>
                  {{ form.email }}
                  {{ form.email.errors }}
              </div>
            </div>     
            <div>
              <button type="submit" value="Sign in" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                  <!-- Heroicon name: solid/lock-closed -->
                  <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                  </svg>
                </span>
                Reset Password
              </button>
              <input type="hidden" name="next" value="{{ next }}">  
           </div>
           <div class="mt-10 text-center flex flex-col justify-center text-3xl font-extrabold text-gray-900">
            <div class="flex justify-center border rounded-md py-2">
                <p class="text-sm py-2 mx-5">Don't have an account</p>
                <a href="#" class="group relative w-32 py-2 px-4 r-grey-400 text-sm rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Register
                </a>
            </div>
            <!-- <div class="flex justify-center border rounded-md py-2">
                <p class="text-sm py-2 mx-5">Remember password</p>
                <a href="{% url 'mainapp:login-view'%}" class="group relative w-32 py-2 px-4 r-grey-400 text-sm rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Sign in
                  </a>      
            </div>     -->
          </div>
          </form> 
        </div>
      </div>
      <div class=""></div>
    </div>
  </body>
{% endblock body%}
