{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% block body %}
<body class="h-full w-full flex justify-center items-center font-serif leading-normal tracking-normal">
    <div class="min-h-full flex items-center justify-center border py-12 px-4 sm:px-6 lg:px-8">
      <div class="max-w-md w-full space-y-8">
        <div>
          <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
          <h3 class="mt-6 text-center text-lg font-bold text-gray-900">{{title}}</h3>
          <p class="text-center py-2 w-auto">Enter your old password to change password.</p>
          {% if form.non_field_errors %}
           <p class="text-center"><strong>{{ form.non_field_errors }}</strong></p>  
          {% endif %} 
          </div>
          <form method="POST" action="#" id="login-form" class="mt-8 space-y-6">
            {% csrf_token %}
            <input type="hidden" name="remember" value="true">   
            <div class="rounded-md shadow-sm -space-y-px">
                <div class="py-2 my-2">
                    <label for="{{ form.old_password_id_for_label }}" class="sr-only">Old password</label>
                    {{ form.old_password }}
                    {{ form.old_password.errors }}
                  </div>
  
                <div class="py-2 my-2">
                    <label for="{{ form.new_password_id_for_label }}" class="sr-only">New password</label>
                    {{ form.new_password1 }}
                    {{ form.new_password1.errors }}
                    {% if form.new_password1.help_text %}
                      <ul class="py-2 my-2 text-sm">
                        <li class="italic text-indigo-600 list-disc">Your password can’t be too similar to your other personal information.</li>
                        <li class="italic text-indigo-600 list-disc">Your password must contain at least 8 characters.</li>
                        <li class="italic text-indigo-600 list-disc">Your password can’t be a commonly used password.</li>
                        <li class="italic text-indigo-600 list-disc">Your password can’t be entirely numeric.</li>
                      </ul>
                    {% endif%}
                  </div>
                <div class="py-2 my-2">
                  <label for="{{ form.new_password2_id_for_label }}" class="sr-only">Confirm password</label>
                  {{ form.new_password2 }}
                  {{ form.new_password2.errors }}
                </div>
              </div>             
              <div class="flex justify-between">
              <a href="{% url 'mainapp:profile-view' %}" class="group cursor-pointer relative w-40 flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                  <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                    <!-- Heroicon name: solid/lock-closed -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
                    </svg>
                  </span>
                  Back
              </a>
              <button type="submit" class="group flex items-center w-auto border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                <span class="">
                  <!-- Heroicon name: solid/lock-closed -->
                  <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                  </svg>
                </span>
                <span class="mx-2 px-2">Change Password</span>
              </button>
            </div>
          </div>
          </form> 
        </div>
      </div>
    </div>
  </body>
{% endblock body %}