{% extends 'base.html' %}
{%block title %}{{ title }}{% endblock title%}
{% block css %}
  <style>
    .errorlist{
      display: flex;
      justify-content: center;
      align-items: center;

      color: #D8000C;
			background-color: #FFBABA;
			background-image: url('https://i.imgur.com/GnyDvKN.png');
      border: 1px solid;
			margin: 10px 0px;
			padding: .3em;
			background-repeat: no-repeat;
			background-position: 10px center;
    }
    .errorlist li {
      align-self: center;
      color: #ff0000;
    }
  </style>
{% endblock css %}
{% block body %}
  <body class="h-full w-full flex justify-center items-center font-serif leading-normal tracking-normal">
    <div class="min-h-full flex items-center justify-center border py-12 px-4 sm:px-6 lg:px-8">
      <div class="max-w-md w-full space-y-8">
        <div>
          <a href="{% url 'landing-view' %}">
            <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
          </a>
          <h3 class="mt-6 text-center text-lg font-bold text-gray-900">{{title}}</h3>
          {% if form.non_field_errors %}
           <p class="text-center"><strong>{{ form.non_field_errors }}</strong></p>  
          {% endif %} 
          </div>
          <form method="POST" action="#" id="login-form" class="mt-8 space-y-6">
            {% csrf_token %}
            <input type="hidden" name="remember" value="true">   
            <div class="rounded-md shadow-sm -space-y-px">
              <div class="py-2 my-2">
                  <label for="{{ form.new_password_id_for_label }}" class="sr-only">New password</label>
                  {{ form.new_password1 }}
                  {{ form.new_password1.errors }}
                  {% if form.new_password1.help_text %}
                    <ul class="py-2 my-2 text-sm">
                      <li class="italic text-indigo-600 list-disc">Your password can’t be too similar to your other personal information.</li>
                      <li class="italic text-indigo-600 list-disc">Your password must contain at least 8 characters.</li>
                      <li class="italic text-indigo-600 list-disc">Your password can’t be a commonly used password.</li>
                      <li class="italic text-indigo-600 list-disc">Your password can’t be entirely numeric.</li>
                    </ul>
                  {% endif%}
                </div>
              <div class="py-2 my-2">
                <label for="{{ form.new_password2_id_for_label }}" class="sr-only">Confirm password</label>
                {{ form.new_password2 }}
                {{ form.new_password2.errors }}
              </div>
            </div>     
            <div>
              <button type="submit" value="Sign in" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                  <!-- Heroicon name: solid/lock-closed -->
                  <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                  </svg>
                </span>
                Reset Password
              </button>
           </div>
          </form> 
        </div>
      </div>
      <div class=""></div>
    </div>
  </body>
{% endblock body%}
